SITE_NAME=VolkaPortal
APP_ENV=development
SECRET_KEY=buraya-guclu-rastgele-bir-secret-key-yazin
LOGIN_MAX_FAILED_ATTEMPTS=5
LOGIN_LOCKOUT_MINUTES=10
LOGIN_IP_MAX_FAILED_ATTEMPTS=20
PASSWORD_MIN_LENGTH=4
MAIL_ENABLED=false
MAIL_SUPPRESS_SEND=false
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=mail-adresiniz@gmail.com
MAIL_PASSWORD=google-uygulama-parolasini-buraya-yazin
MAIL_DEFAULT_SENDER=mail-adresiniz@gmail.com
MAIL_REPLY_TO=Kalite@erprefabrik.com.tr
MAIL_SUBJECT_PREFIX=[VolkaPortal]
MAIL_TIMEOUT=10
PUBLIC_BASE_URL=https://oguzhankys.online
TENANT_BASE_DOMAIN=volkaportal.com
