SITE_NAME=VolkaPortal
SECRET_KEY=buraya-guclu-rastgele-bir-secret-key-yazin
MAIL_ENABLED=false
MAIL_SUPPRESS_SEND=false
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=mail-adresiniz@gmail.com
MAIL_PASSWORD=google-uygulama-parolasini-buraya-yazin
MAIL_DEFAULT_SENDER=mail-adresiniz@gmail.com
MAIL_REPLY_TO=Kalite@erprefabrik.com.tr
MAIL_SUBJECT_PREFIX=[VolkaPortal]
MAIL_TIMEOUT=10
PUBLIC_BASE_URL=https://oguzhankys.online
